{% assign spells_list = "" | split: "" %}
{% for spell_name in include.spells %}
  {% assign spell = site.spells | where: "name", spell_name | first %}
  {% if spell %}
    {% assign spells_list = spells_list | push: spell %}
  {% endif %}
{% endfor %}

{% assign spells_list = spells_list | sort: "level" | group_by: "level" %}
{% for spell_level in spells_list %}
  {% if spell_level.name == "0" %}
    <h4>Cantrips</h4>
  {% else %}
    <h4>Level {{spell_level.name}}</h4>
  {% endif %}

  {% assign spells = spell_level.items | sort: "name" %}
  {% for spell in spells %}
    <details class="details">
      <summary>
        <div class="summary">
          <div class="arrow-icon">
            <i class="fal fa-chevron-right"></i>
          </div>
          <div class="title">
            {{spell.name}}
          </div>
          <div style="text-align: right; flex-grow: 1">
            <input type="checkbox">
          </div>
        </div>
      </summary>
      <div style="margin-top: 0.125em;">
        {% include spell_info_table.html spell=spell %}
      </div>
      <div class="article info">
        {{spell.content | markdownify}}
      </div>
    </details>
  {% endfor %}
{% endfor %}
