.article .ability-scores-table,
.ability-scores-table {
  width: 100%;
  font-size: 0.8rem;
}

.ability-modifier {
  line-height: 1;
  font-size: 0.7em;
  padding: 3px 6px;
  margin-left: 0.5em;
  background-color: #e1d0d0;
  border-radius: 290486px;
}
