.details {
  margin: 0;

  summary {
    padding: 0;
    font-size: 0.7rem;
    display: block;
    cursor: pointer;
    width: 100%;
    list-style: none;
    border-radius: 3px;
    .summary {
      padding: 5px;
      display: flex;
    }
    &::-webkit-details-marker {
      display: none;
    }
    .arrow-icon {
      transform: rotateZ(0deg);
      transition: transform 0.2s ease;
      display: block;
      width: 1.15em;
      text-align: center;
      margin-right: 0.25em;
    }
    .title {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-family: $headings-font-family;
      font-weight: $headings-font-weight;
    }
  }

  &[open] summary,
  summary:hover {
    background-color: $secondary-color;
    background-image: url('/assets/images/pink-stardust.png');
  }

  &[open] summary .arrow-icon {
    transform: rotateZ(90deg);
  }

  .info {
    margin: 0.5rem 0.25rem;
  }
}
