---
layout: main
breadcrumbs:
  - label: Home
    url: /
    current: false
  - label: Characters
    url: /characters
    current: false
tabs:
  - title: Profile
    target: profile-tab
    icon: fas fa-user
  - title: Spells
    target: spells-tab
    icon: fad fa-wand-magic
  - title: Features
    target: features-tab
    icon: fad fa-award
  - title: Equipment
    target: equipment-tab
    icon: fad fa-sword
  - title: Inventory
    target: inventory-tab
    icon: fad fa-flask-potion
---

{% include breadcrumbs.html breadcrumbs=layout.breadcrumbs %}

{% assign character_level = 0 %}
{% for class in page.classes %}
  {% assign character_level = character_level | plus: class.level %}
{% endfor %}

{% assign proficiency_bonus = character_level | minus: 1 | times: 0.25 | floor | plus: 2 %}

<article class="section">
  <div class="columns">
    <div class="column">
      <div class="article">
        <h1>{{page.title}}</h1>
        {% for class in page.classes %}
          <div style="margin-top: 0;">
            <span class="icon" style="width: 1.25em; display: inline-block; color: #e1d0d0;">
              {% if class.icon %}<i class="{{class.icon}}"></i>{% endif %}
            </span>
            {{class.title}}
            {% if class.sub_class%}
              ({{class.sub_class}})
            {% endif %}
            <span style="font-style: italic;">Level {{class.level}}</span>
          </div>
        {% endfor %}

        <div class="tags">
          <span class="tag">
            <span class="icon">
              <i class="far fa-level-up"></i>
            </span>&nbsp;Level:&nbsp;<strong>{{character_level}}</strong>
          </span>
          <span class="tag">
            <span class="icon">
              <i class="fad fa-scroll-old"></i>
            </span>&nbsp;Proficiency bonus:&nbsp;<strong>{{proficiency_bonus}}</strong>
          </span>
          <span class="tag">
            <span class="icon">
              <i class="fad fa-shield"></i>
            </span>&nbsp;AC:&nbsp;<strong>{{page.ac | default: page.ability_scores.dexterity}}</strong>
          </span>
        </div>
      </div>

      <!-- Tabs -->
      <div
        id="character-tab-buttons"
        class="tab-buttons"
      >
        {% for tab in layout.tabs %}
          <button class="button is-rounded" data-target="{{tab.target}}" aria-label="{{tab.title}}">
            <i class="{{tab.icon}}" aria-hidden="true"></i>
          </button>
        {% endfor %}
      </div>

      <!-- Spells -->
      <div
        id="spells-tab"
        class="article"
      >
        <h3>Spells</h3>
        <div id="spell-classes-tab-buttons" class="tab-buttons">
          {% if page.classes %}
            {% for class in page.classes %}
              {% if class.spells %}
                <button
                  class="button is-rounded"
                  aria-label="{{class.title}}"
                  data-target="{{class.title}}-spells-tab"
                >
                  {% if class.icon %}
                    <i class="{{class.icon}}" aria-hidden="true"></i>
                  {% else %}
                    {{class.title}}
                  {% endif %}
                </button>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>

        {% if page.classes %}
          {% for class in page.classes %}
            {% if class.spells %}
              <div id="{{class.title}}-spells-tab">
                {% if class.spellcasting_ability %}
                  {% assign spellcasting_modifier = page.ability_scores[class.spellcasting_ability] %}
                  {% assign spellcasting_modifier = spellcasting_modifier | minus: 10 | divided_by: 2 | floor %}
                  <div class="tags">
                    <span class="tag">
                      Spell save DC:&nbsp;<strong>{{8 | plus: proficiency_bonus | plus: spellcasting_modifier}}</strong>
                    </span>
                    <span class="tag">
                      Spell attack modifier:&nbsp;<strong>{{proficiency_bonus | plus: spellcasting_modifier}}</strong>
                    </span>
                  </div>
                {% endif %}
                <div class="article">
                  {% include character_spells.html spells=class.spells %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>

      <!-- Profile -->
      <div id="profile-tab" class="article" style="display: none;">
        <h3>Profile</h3>

        {% if page.img_url %}
          <div class="profile-image">
            <img src="{{page.img_url}}">
          </div>
        {% endif %}

        {{content}}

        <h4>Ideal</h4>
        {{page.ideal | default: "…" | markdownify}}
        <h4>Bond</h4>
        {{page.bond | default: "…" | markdownify}}
        <h4>Flaw</h4>
        {{page.flaw | default: "…" | markdownify}}

        <table>
          <tbody>
            <tr>
              <th style="text-align: left;">Alignment</th>
              <td style="text-align: right;">{{page.alignment | default: "—"}}</td>
            </tr>
            <tr>
              <th style="text-align: left;">Background</th>
              <td style="text-align: right;">{{page.background | default: "—"}}</td>
            </tr>
            <tr>
              <th style="text-align: left;">Deity</th>
              <td style="text-align: right;">{{page.deity | default: "—"}}</td>
            </tr>
            <tr>
              <th style="text-align: left;">Gender</th>
              <td style="text-align: right;">{{page.gender | default: "—"}}</td>
            </tr>
            <tr>
              <th style="text-align: left;">Age</th>
              <td style="text-align: right;">{{page.age | default: "—"}}</td>
            </tr>
            <tr>
              <th style="text-align: left;">Height</th>
              <td style="text-align: right;">{{page.height | default: "—"}}</td>
            </tr>
            <tr>
              <th style="text-align: left;">Weight</th>
              <td style="text-align: right;">{{page.weight | default: "—"}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Features -->
      <div id="features-tab" class="article">
        <h3>Features</h3>
        <div id="features-classes-tab-buttons" class="tab-buttons">
          {% if page.classes %}
            {% for class in page.classes %}
              {% if class.features %}
                <button
                  class="button is-rounded"
                  aria-label="{{class.title}}"
                  data-target="{{class.title}}-features-tab"
                >
                  {% if class.icon %}
                    <i class="{{class.icon}}" aria-hidden="true"></i>
                  {% else %}
                    {{class.title}}
                  {% endif %}
                </button>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>

        {% if page.classes %}
          {% for class in page.classes %}
            {% if class.features %}
              <div id="{{class.title}}-features-tab">
                {% for feature in class.features %}
                  <details class="details">
                    <summary>
                      <div class="summary">
                        <div class="arrow-icon">
                          <i class="fal fa-chevron-right"></i>
                        </div>
                        <div class="title">
                          {{feature.title}}
                        </div>
                        {% if feature.charges %}
                        <span class="icon" style="padding: 0 0.25em;"><i class="fad fa-sun"></i></span>
                        &times;<span id="feature-charges-total-{{feature.title | slugify}}">{{feature.charges}}</span>
                        {% endif %}
                      </div>
                    </summary>
                    <div class="info article">
                      {% if feature.charges %}
                        <div>
                          <icon-progress
                            data-updates="feature-charges-total-{{feature.title | slugify}}"
                            icon="fad fa-sun"
                            max="{{feature.charges}}"
                            value="{{feature.charges}}"
                          ></icon-progress>
                        </div>
                      {% endif %}
                      {{feature.description | default: "*No description*" | markdownify}}
                    </div>
                  </details>
                {% endfor %}
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>

      <!-- Equipment -->
      <div id="equipment-tab" class="article" style="display: none;">
        <h3>Equipment</h3>

        {% if page.equipment and page.equipment.weapons %}
          <h4>Weapons</h4>
          {%
            include weapons_list.html
            strength=page.ability_scores.strength
            dexterity=page.ability_scores.dexterity
            proficiency_bonus=proficiency_bonus
            weapon_proficiencies=page.weapon_proficiencies
            weapons=page.equipment.weapons
          %}
        {% endif %}

        {% if page.equipment and page.equipment.armor %}
          <h4>Armor</h4>
          {%
            include armor_list.html
            strength=page.ability_scores.strength
            dexterity=page.ability_scores.dexterity
            armor=page.equipment.armor
          %}
        {% endif %}
      </div>

      <!-- Inventory -->
      <div id="inventory-tab" class="article" style="display: none;">
        <h3>Inventory</h3>
      </div>
    </div>

    <div class="column narrower">
      <div class="article">
        <h2>
          HP
          <input class="hp-input" value="{{page.hit_point_max}}">/{{page.hit_point_max}}
        </h2>

        <div>
          <p class="h4">Hit dice</p>
          {% for class in page.classes %}
            <div>
              {% assign dice_type = class.hit_dice_type | default: "d6" %}
              <span class="h5" style="display: inline-block; min-width: 2.25em;">
                {{dice_type | upcase}}
              </span>
              <icon-progress icon="fad fa-dice-{{dice_type}}" max="{{class.level}}" value="{{class.level}}"></icon-progress>
            </div>
          {% endfor %}
        </div>

        {% if page.spell_slots %}
          <h3>Spell slots</h3>
          <div>
          {% for slot in page.spell_slots %}
            <div style="display: flex; justify-content: space-between;">
              <span>
                Level {{slot.level}}
              </span>
              <span>
                <icon-progress icon="fad fa-sun" max="{{slot.slots}}" value="{{slot.slots}}"></icon-progress>
              </span>
            </div>
          {% endfor %}
          </div>
        {% endif %}

        {% if page.ability_scores %}
          <h3>Ability scores</h3>
          {% include ability-scores-table.html ability_scores=page.ability_scores %}

          <h4>Saving throws</h4>
          {% assign ability_names = "strength,dexterity,constitution,intelligence,wisdom,charisma" | split: "," %}
          <div class="tags">
            {% for ability_name in ability_names %}
              {% assign ability_score = page.ability_scores[ability_name] %}
              {% assign score_modifier = ability_score | minus: 10 | divided_by: 2 | floor %}

              {% if page.saving_throw_proficiencies and page.saving_throw_proficiencies[ability_name] %}
                {% assign bonus_score = page.saving_throw_proficiencies[ability_name] | times: proficiency_bonus | floor %}
                {% assign score_modifier = score_modifier | plus: bonus_score %}
              {% endif %}
              <span class="tag">
                {{ability_name | capitalize}}:&nbsp;<strong>{% if score_modifier >= 0 %}+{%- endif -%}{{score_modifier}}</strong>
              </span>
            {% endfor %}
          </div>
        {% endif %}

        {% if page.skill_proficiencies %}
          <h3>Skills</h3>
          {%
            include skill_proficiencies.html
            ability_scores=page.ability_scores
            proficiency_bonus=proficiency_bonus
            skill_proficiencies=page.skill_proficiencies
          %}
        {% endif %}
      </div>
    </div>
  </div>
</article>

<script>
  domReady(function () {
    var updaters = document.querySelectorAll('icon-progress[data-updates]');
    for (var i = 0; i < updaters.length; i++) {
      updaters[i].addEventListener('value-changed', function (event) {
        var toUpdate = document.getElementById(this.dataset.updates);
        if (toUpdate) {
          toUpdate.textContent = event.detail;
        }
      });
    }
  });

  domReady(function () {
    function resetButtons(buttons) {
      for (var i = 0; i < buttons.length; i++) {
        resetButton(buttons[i]);
      }
    }

    function resetButton(button) {
      var target = document.getElementById(button.dataset.target);
      if (target) target.style.display = 'none';
      if (button.classList.contains('is-active')) button.classList.remove('is-active');
      if (button.classList.contains('is-primary')) button.classList.remove('is-primary');
    }

    function setActiveTab(button) {
      var target = document.getElementById(button.dataset.target);
      if (target) target.style.display = '';
      if (!button.classList.contains('is-active')) button.classList.add('is-active');
      if (!button.classList.contains('is-primary')) button.classList.add('is-primary');
    }

    function activateTabButtons(container) {
      if (!container) return;

      var buttons = container.querySelectorAll('[data-target]');
      if (!buttons.length) return;

      resetButtons(buttons);
      setActiveTab(buttons[0]);

      for (var i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', function (event) {
          resetButtons(buttons);
          setActiveTab(this);
        });
      }
    }

    activateTabButtons(document.getElementById('spell-classes-tab-buttons'));
    activateTabButtons(document.getElementById('features-classes-tab-buttons'));
    activateTabButtons(document.getElementById('character-tab-buttons'));
  });
</script>
