.main-layout {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  @media screen and (min-width: $breakpoint-lg) {
    flex-wrap: nowrap;
    min-height: 100vh;
  }
}

.main {
  width: 100%;
}

@import "sidebar";
@import "section";
@import "columns";
