.sidebar {
  background-color: #bcdbbc;
  background-color: #e8a798;
  background-color: #e1d0d0;
  background-image: url('/assets/images/pink-stardust.png');
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
}

@media screen and (min-width: $breakpoint-lg) {
  .sidebar.collapsed {
    width: 1.5rem;
    // max-width: 1rem;
    & > div:first-child {
      opacity: 0;
    }
  }
}
